$header-bg: url('../img/m-h-day.jpg');
$btn-bg: #699900;
$text-bg: #14a0c7;
$body-bg: #fff;
$section-bg: #21232e;
$title-color: #2c2f3c;
$btn-text: #fff;
$gradient-end: #2f5dd2;
$section-text: #c0c3ce;

$backgrounds: (
	"header": url('../img/m-h-day.jpg'),
	"btn":  #699900,
	"text":  #14a0c7,
	"body": #fff,
	"section": #21232e
	);

$f-title: 'Source Sans Pro', sans-serif;;
$f-text: 'Hind', sans-serif;