$header-bg: url('../img/m-h-night.jpg');
$title-color: #fff;
$btn-bg: #e3ac00;
$btn-text: #fff;
$gradient-end: #963150;
$text-bg: #ff4e33;
$section-text: #c0c3ce;
$body-bg: #21232e;
$section-bg: #3b3f50;

$backgrounds: (
	"header": url('../img/m-h-night.jpg'),
	"btn":  #e3ac00,
	"text":  #ff4e33,
	"body": #21232e,
	"section": #3b3f50
	);

$f-title: 'Source Sans Pro', sans-serif;;
$f-text: 'Fresca', sans-serif;